.services {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    gap: 41px;
    margin-top: 399px;
    margin-bottom: 253px;
}

.facilitiesDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 108px;
}

.sites {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    gap: 128px;
    margin-bottom: 232px;
}

.icon {
    background-color: var(--my-colorBAL);
    max-width: 250px;
    height: 65px;
    margin-top: 29px;
    display: flex;
    justify-content: center;
    align-items: center
}

.button-icon {
    background-color: var(--my-colorBAL);
    max-width: 250px;
    height: 65px;
    margin-top: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sitesSecondDiv {
    display: flex;
    gap: 50px;
    max-width: 840px;
}

.footersection {
    background-color: var(--my-background);
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 96px 112px 85px;
    height: 575px;
}